controller:
  JCasC:
    configScripts:
      jobs: |
        jobs:
        - script: >
            folder('Kubernetes') {
              description('This is a folder for all the Kubernetes pipelines')
            }
        - script: >
            pipelineJob('HelloWorld') {
              definition {
                cpsScm {
                  scm {
                    git {
                      remote {
                        url('https://github.com/filipegalo/playground_k8s.git')
                      }
                      branches('*/main')
                    }
                  }
                  scriptPath('jenkins/pipelines/HelloWorld.Jenkinsfile')
                }
              }
            }
        - script: >
            pipelineJob('Kubernetes/HelmfileApply') {
              definition {
                cpsScm {
                  scm {
                    git {
                      remote {
                        url('https://github.com/filipegalo/playground_k8s.git')
                      }
                      branches('*/main')
                    }
                  }
                  scriptPath('jenkins/pipelines/Helmfile.Jenkinsfile')
                }
              }
            }
